*{
    box-sizing: border-box;
}
.flex-background{
    background-image: linear-gradient(to right ,#FCA5F1 , #6B5FFF);
    border-radius: 10px;
}
.container{
    margin-left: 20px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;

}
div a{
    color:antiquewhite;
    text-decoration: none;
}
div a:hover{
    color: blue;
    transition: 1s;
}
.navigations{
    flex-basis: 33%;
    padding-bottom: 10px;
    
}
.login{
    margin-top: 5px;
    display: flex;
}
img{
    flex-basis: 60%;
    flex-wrap: wrap;
    height: 470px;
    border-radius: 10px;
}
.base{
    flex-basis: 40%;
    margin-left: 5px;
    background-image: linear-gradient(to right ,#00B7FF , #FFFFC7 );
    text-align: center;
    padding-top: 5%;
    border-radius: 10px;
}
input{
    width: 300px;
    height: 50px;
}
.b1{
    text-transform: uppercase;
    width: 150px;
    height: 70px;
    border: 1px solid white; border-radius: 4px;
    background-image: linear-gradient(45deg , rgb(230, 158, 158), rgb(240, 228, 230));
    font-size: 30px;
    color:brown;
    font-weight: bolder;
}
.b1:hover{
    width: 200px;
    height: 80px;
    padding-top: 10px;
    transition: 1s;
}
h3{
    font-size: 40px;
    color: rgb(173, 14, 14);
    font-weight: bolder;
    
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
}

@media (max-width : 800px) {
    .login{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    input{
        width: 200px;
    }
}

.center{
    text-align: center;
}

.temp{
    padding-left: 40px;
}